* {
    margin: 0 auto;
    box-sizing: border-box; /*cuidado con esta regla...*/
    font-family: 'Michroma', sans-serif;
}

body {
    background-color: #CAF0F8;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

section#nombre_page {
    background-color: #00B4D8;
}

section#nombre_page > h1{
    text-align: left;
    display: inline;
    padding: 5px;
}

section#nombre_page > h2 {
    text-align: left;
    display: block;
    padding: 5px;
}

section#nombre_page > h2 {
    text-transform: lowercase;
}

header > nav > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}

header > nav > ul > li {
    list-style-type: none;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    line-height: 35px;
    border: 1px solid gray;
    padding: 5px;
    border-radius:  10% 90% 9% 91% / 80% 11% 89% 20%;
}

header > nav > ul > li > a:hover {
    background-color: #00B4D8;
    transition: background-color 0.8s;
    /* font-size: 26px; */ /*El cambio de tamaño con hover da problemas que no sé solucionar*/
}

header > nav > ul > li > a:not(:hover) {
    
    background-color: white;
    transition: background-color 0.8s;
    /* font-size: 20px; */
}

header > nav > ul > li > a:active {
    background-color: yellow;
    transition: background-color 0.3s;
    /* font-size: 26px; */
}

img#foto_portada {
    width: 100%;
}

section#texto_intro {
    padding: 14% 0%;
    display: flex;
    flex-direction: column;
}

section#texto_intro > p {
    margin: 15px;
    padding: 4% 8% 4% 4%;
    text-indent: 8%;
    text-align: justify;
}

section#texto_intro > h1#encabezado_intro {
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    border-radius: 10% 90% 9% 91% / 80% 11% 89% 20%;
    box-shadow: 0 0 15px yellow;
}

article.experiencia {
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 25px;
    margin-top: 30px;
}

article.experiencia_txt {
    margin: 0;
}

article.ascension {
    background-color: lightcoral;
    color: darkred;
    border-color: darkred;
}

article.treking {
    background-color: #90E0EF;
    color: #03045E;
    border-color: #03045E;
}

article.curso {
    background-color: yellowgreen;
    color: darkgreen;
    border-color: darkgreen;
}

article.experiencia_txt > span {
    display: block;
    justify-content: left;
    margin: 0;
    font-size: 10px;
}

span.tipo_experiencia {
    text-transform: uppercase;
    padding-bottom: 5px;
}

img.img_bienvenida {
    width: 100%;
    /* border-radius: 5%; */
}

img.experiencia {
    width: 50%;
    margin: 0;
    border-radius: 22px 0px 0px 22px;
}

footer {
    background-color: #00B4D8;
    text-align: center;
    height: 20%;
}

footer > nav > ul {
    padding: 0;
}

footer > nav > ul > li {
    list-style-type: none;
}

footer > nav > ul > li > a {
    text-decoration: none;
    color: white;
}

footer > nav > ul > li > a:hover{
    color: yellow;
    transition: color 0.8s;
}

footer > nav > ul > li > a:not(:hover){
    color: white;
    transition: color 0.8s;
}

footer > nav > ul > li > a:active{
    color: yellow;
}

footer section#redes {
    margin-top: 4%;
}

footer section#redes > a > img {
    width: 20px;
    margin: 0% 5%;
}

/*Media queries desde
361px (Samsung Galaxy S21) hasta
800px (Samsung Galaxy Tab A7 Portrait)*/

@media only screen and (min-width: 361px) {

}

@media only screen and (min-width: 500px) {
    article.experiencia_txt > span {
        font-size: 14px;
    }
}

/*Media queries desde 642px, para que no se divida el título*/

@media only screen and (min-width: 642px) {
    section#nombre_page > h1, section#nombre_page > h2{
        text-align: left;
        display: inline;
        padding: 5px;
    }
}

/*Media queries desde
801px (Samsung Galaxy Tab A7 Portrait) hasta
1280px (Samsung Galaxy Tab A7 Landscape)*/

@media only screen and (min-width: 801px) {

}

/*Media queries*/
/*de 1281px (Samsung Galaxy Tab A7 Landscape)
en adelante (desktop)*/
@media only screen and (min-width: 1281px) {

}